# Built application files
cmake-build-debug/
.idea/
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.swp
ehthumbs.db
Thumbs.db

#files containing github tokens
github.properties

